<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Isaac Ingram</title>
        <link rel="stylesheet" href="public/index.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    </body>
</html>